

.main-container > .left {
    
    top: 0;
    height: 200vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.main-container > .left > a {
    width: 30%;
    
    display: block;
}   

.main-container > .left > .product-image {
    width: 30%;
    position: sticky;
    top: 0;
}
.main-container > .left 

