
* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    
}

:root {
    --slight-shadow-color: #555;
}  

.icon-margin {
    margin: 0 1rem 0 0.5rem;
}
.small-font {
    font-size:small;
}

.main-container .right {
    border: 0 !important;
}
.main-container .right ul {
    list-style: none;
}
.main-container .right > ul > li {
    margin: auto;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid gainsboro;
    font-size: 1.6rem;
    width: 25rem;
}

.main-container .right > ul .card1 button {
    padding: 0.2rem;
    cursor: pointer;
}
.main-container .right > ul .card1 p {
    margin: 1rem 0;
}
.main-container .right > ul > li a {
    text-decoration: none;
    color: cadetblue;
    margin: 1rem 0;
}
.main-container .right > ul > li a:hover {
    color: orange;
}
.main-container .right > ul .card1 .cart-button {
    width: 100%;
    display: block;
    background-color:gold;
    border: 1px solid goldenrod;
    color: black;
    padding: 0.7rem 0;

}
.main-container .right > ul .card1 .cart-button:hover {
    color: black;
    background-color: rgb(245, 190, 0);
}
.main-container .right > ul .card1 .buy-button {
    width: 100%;
    display: block;
    background-color:orange;
    border:1px solid1 orangered;
    color: black;
    padding: 0.7rem 0;
}
.main-container .right > ul .card1 .buy-button:hover {
    color: black;
    background-color: rgb(220, 130, 0);
}
.main-container .right > ul .card1 .list-button {
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.7rem;
}
.main-container .right > ul .card1 .list-button:hover {
    cursor: pointer;
}
.main-container .right > ul .card1 p .return-policy-link:hover::after {
    content: 'This item can be returned in its original condition for a full refund or replacement within 30 days of receipt.';
    display: block;
    position: absolute;
    width: 30rem;
    padding: 3rem;
    cursor:default;
    margin-top: 0.5rem;
    margin-left: -8rem;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 1px 1px 6px var(gainsboro);
    color: black;
}
.main-container .right > ul .card1 .hover-underline:hover {
    text-decoration: underline;
}

.main-container .right > ul .card2 {
    padding: 0;
}
.main-container .right > ul .card2 > ul > li {
    border-top: gainsboro 1px solid;
    padding: 1rem;
    width: 100%;
}
.main-container .right > ul .card2 > ul > li a {
    text-decoration: none;
    margin-top: 1rem;
}

.main-container .right > ul .card2 > p {
    padding: 1rem;
}
.main-container .right > ul .card2 > ul > li  .item-price-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .right > ul .card2 > ul > li > .item-price-footer > p {
    margin-left: 0.5rem;
}
.main-container .right > ul .card2 > ul > li > .item-price-footer .cart-button {
    color: black;
    display: block;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: gold;
    font-size: smaller;
}
.main-container .right > ul .card2 > ul > li > .item-price-footer .cart-button:hover {
    background-color: goldenrod;
}
.main-container .right > ul .card3 {
    border: 0;
    margin-top: -4rem;
}
.main-container .right > ul .card3 .sell-on-amazon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container .right > ul .card3 .other-item {
    width: 100%;
    display: block;
    background-image: url('../assets/images/other-product.png');
    height: 24rem;
    border: 1px solid black;
}







.container-bought-together,
.container-explore {
    height: 10vh;
    width: 90%;
    border: 2px solid black;
}
