
:root {
    --slight-shadow-color: #333;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}




/*utility classes*/
.text-bold {
    font-weight:900;
}
.green-text {
    color: green;
}
.slight-shadow {
    box-shadow: 1px 1px 3px var(--slight-shadow-color);
}



.navbar-container {
    height: 10vh;
    width: 90%;
    border: 2px solid black;

}

.main-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.main-container > div {
    width: 30%;
    height: 100%;
    border: 2px solid black;
}
.main-container .right {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid gainsboro;
}
.main-container .right a {
    text-decoration: none;
    color: cadetblue;
}
.main-container .right a:hover {
    color: orange;
}

.container-bought-together,
.container-explore {
    height: 10vh;
    width: 90%;
    border: 2px solid black;
}
